<div class="contenedor d-flex flex-column">
  <div class="header">
    <h1 class="header-titulo">FireHabits <span><img class="header-img" src="../assets/fire2.png"></span></h1>
  </div>
  <div class="body">

    <div class="paneles">
      <div class="panel-izquierdo">

        <app-login
          (usuarioRegistrado)="setUsuario($event)"
        ></app-login>

        <app-lista-de-habitos
          *ngIf="usuarioActual"
          class="panel-lista"
          [listaDeHabitos]="habitos"
          (seEliminoHabito)="actualizarListaDeHabitos()"
          (seSeleccionoHabito)="setHabito($event)"
          [habitoSeleccionado]="habitoSeleccionado"
          >
        </app-lista-de-habitos>

        <div *ngIf="!usuarioActual" class="login-decorator">
          <img src="../assets/fire2.png" alt="">
        </div>

      </div>

      <div class="panel-derecho" *ngIf="usuarioActual">
        <app-habito-panel
         [usuarioActual]="usuarioActual"
         [habitoSeleccionado]="habitoSeleccionado"
         (seAgregoHabito)="actualizarListaDeHabitos()"
         (seActualizoHabito)="actualizarEstadoDeHabitos(usuarioActual)">
        </app-habito-panel>
      </div>
    </div>


  </div>
</div>


