.contenedor{
  display: block;
  background-color: #36f;
  height: 100vh;
  width: 100vw;
}

  .header{
    text-align: center;
    background-color: #36f;
    margin: 0;
    padding:2rem 0;
  }
    .header-titulo{
      color: #fff;
      font-size: 7rem;
    }
    .header-img{
      height: 8rem;
      transform: translateY(-1rem);
    }

.body{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .paneles{
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #ccc;
  }
    .panel-izquierdo{
      display: flex;
      flex-direction: column;
      height: 28rem;
    }
      .login-decorator{
        flex-grow: 1;
        display: flex;
      }
        .login-decorator img{
          filter: grayscale(7);
          height: 15rem;
          margin: auto;
        }


    .panel-derecho{
      padding: 1rem;
      background-color: #ccc;
      height: 28rem;
    }
    .panel-lista{
      flex-grow: 1;
      background-color: #ccc;
      overflow: hidden;
    }


@media screen and (max-width:800px){
  .paneles{
    flex-direction: column;
    font-size: 10px;
  }

}


